@use "../../styles/partials/typography" as *;
@use '../../styles/partials/variables' as *;


@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }




@mixin large-header {
    font-family: $primary-font;
    font-size: 21.875rem;
    line-height: 20.3125rem;
    font-weight: 600;
}

@mixin large-subheader {
    font-family: $primary-font;
    font-size: 6.25rem;
    line-height: 6.25rem;
    font-weight: 500;
}

@mixin mobile-header {
    font-family: $primary-font;
    font-size: 3.125rem;
    line-height: 3.125rem;
    font-weight: 600;
}

@mixin mobile-subheader {
    font-family: $primary-font;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 600;
}

@mixin mobile-body {
  font-family: $primary-font;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 200;
}

