@font-face {
    font-family: Horizon;
    src: url("../../assets/fonts/horizon.otf");
    font-style: normal;
    font-weight: 600;
  }
  
  @font-face {
    font-family: Horizon;
    src: url("../../assets/fonts/horizon.otf");
    font-style: normal;
    font-weight: 400;
  }
  
  $primary-font: Horizon, Arial, Helvetica, sans-serif;