//breakpoints
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;


//colours
$black: #13182c;
$dark-indigo: #2c1e4a;
$dark-pink: #d73cbe;
$pink: #ff66c4;
$light-pink: #fabee2;
$white: #ffffff;
$light-grey: #f7f8f9;
