.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #231F20;
    z-index: 10000;
    opacity: 1;
    transition: opacity 2s ease-out;
}
  
.video-container.fade-out {
    opacity: 0;
    pointer-events: none; /* Prevent interactions after fade-out */
}
  
.video {
    width: 80%;
    height: 100%;
    object-fit: cover;
}